<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('navbar') %>
    <div class="main-content">
        <h1>Image Gallery</h1>
        <div>
            <% images.forEach(function(image) { %>
                <div>
                    <a href="/image/<%= image.id %>">
                        <img src="/<%= image.path %>" alt="Image" style="width: 200px; height: auto;" />
                    </a>
                    <% if (image.children.length > 0) { %>
                        <div class="thumbnail-container">
                            <% image.children.forEach(function(childImage) { %>
                                <a href="/image/<%= childImage.id %>">
                                    <img src="/<%= childImage.path %>" alt="Image" class="thumbnail" />
                                </a>
                            <% }); %>
                        </div>
                    <% } %>
                </div>
            <% }); %>
        </div>
        <a href="/upload">Upload More Images</a>
    </div>
</body>
</html>
